DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=sub_next
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
# 32为随机字符
JWT_ACCESS_SECRET=replace-me-with-a-long-random-string
JWT_REFRESH_SECRET=replace-me-with-a-different-long-random-string
ADMIN_PASSWORD=admin123
# 公开访问地址，用于生成公开订阅链接。不要使用localhost，根据实际情况修改
PUBLIC_BASE_URL=http://localhost:4000